#Ignorar archivos csv generados y cache de python
Salida/**/*.csv
__pycache__/
# Ignorar el entorno virtual
venv/

# Ignorar archivos de configuración específicos del entorno
*.pyc
*.pyo
*.pyd
# Ignorar archivos visual
.vscode/
# Ignorar archivos y carpetas generados por PyInstaller
dist/
build/
Medidor_RFI.spec
*.spec
